<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="MySql"/>
    <dataSource name="testdb"  connectionString="${connectionString}"/>
  </database>

  <sqlMaps>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_sys_generalcode.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_sys_staffresources.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_basicsdep.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_eventsresume.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_hospdep.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_hospital.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_registereduser.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_staff.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_events_yc.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_events_yc_parts.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_sys_statecode.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_events_yh.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_events_gl.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_events_gy.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_events_zybl.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_events_ddzc.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_events_qt.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Answer.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Course.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CourseCatalog.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CourseOffice.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CourseSection.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CourseType.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.GenericDictionary.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Integral.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Notes.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.plancontents.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Problem.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Questions.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Recharge.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.StudySchedule.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.TrainDetailRecord.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.TrainRecord.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Message.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.SMSMessage.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CourseDistribute.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CertificateAudit.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CourseUser.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Favour.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CourseRecord.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.CreditRecord.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_tbl_LoginKey.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.aers_sys_seed.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.SMS.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Userregister.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.country.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.userbasicinfo.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Userpracticecertificate.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Userquacertificate.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Hospital.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Feedback.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Releaseversion.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Userrelrecord.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Department.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Qq.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Userauths.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Certificateverify.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Notice.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Banner.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Emchat.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Emuser.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Groupinfo.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Groupuser.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.UserLoginStatus.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Weixin.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Weibo.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Administrator.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Admdepartment.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Admpermission.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.Token.xml,Aersysm.Persistence"/>
    <sqlMap embedded="Aersysm.Persistence.Maps.permission.xml,Aersysm.Persistence"/>
  </sqlMaps>
</sqlMapConfig>